<div id="content">
    <div id="crackle">

    </div>
    <div id="display">
        
    </div>
</div>
<div id="footer">
    <div id="healthbar">
        <div id="healthgauge">
            <img src="/img/health.png">
            <div id="healthmeter">
                <img src="/img/uncanny.gif">
                <p id="healthnum">50</p>
            </div>
        </div>
        
    </div>
    <div id="console">
        <div class="bwuhButton" id="bwuhButton1">
            
        </div>
        <div class="bwuhButton" id="bwuhButton2">
            
        </div>
        <div class="bwuhButton" id="bwuhButton3">
        
        </div>
        <div class="bwuhButton" id="bwuhButton4">
            
        </div>
        <div class="bwuhButton" id="bwuhButton5">
            
        </div>
    </div>
    
</div>